* {
    box-sizing: border-box;
}

/* régle d'import des mixns */
@import "mixins.scss";

body {
    /*min-height: 100%;*/
    margin: 0;
    padding: 0;
}

$colorTitle: rgb(253, 203, 70);
$colorBackTitle: rgb(86, 156, 135);
$paddingTop_menu: 130px;
$font-size_menu: 40px;
$m_menu: "Balsamiq Sans", cursive;
$fontFamillyTitle: "Montserrat", sans-serif;

header {
    top: 0;
    margin-bottom: 50px;
    padding: 5px;
    text-align: center;
    font-size: 20px;
    background-color: rgb(86, 156, 135);
}

h1 a {
    text-decoration: none;
    font-family: $fontFamillyTitle;
}

h1 a:link, h1 a:visited {
    color: $colorTitle;
    text-decoration: none;
}

h1 a:focus, h1 a:hover {
    color: $colorBackTitle;
    background-color: $colorTitle;
}

h1 a:active {
    color: $colorTitle;
}

h2 {
    color: $colorTitle;
    font-family: $fontFamillyTitle;
    margin: 10px;
    padding: 10px;
}

h4, li {
    list-style: none;
}

/*----------zone bas de page-------------------*/
/*----------animation wiggle -------------------*/
@include footer_wiggle;