* {
  box-sizing: border-box;
}

body {
  margin:0;
  padding:0;
}

$colorTitle:rgb(253, 203, 70);
$colorBackTitle:rgb(86, 156, 135);
$font-sizeDetail: 25px;
$m_menu:'Dancing Script', cursive;
$fontFamillyTitle:'Montserrat', sans-serif;

header {
  top: 0;
  padding: 1px;
  text-align: center;
  background-color: $colorBackTitle;
}

main {
  padding-bottom: 50px;
}

h1 a {
  text-decoration: none;
  font-family: $fontFamillyTitle;
}

h1 a:link, h1 a:visited{
  color:$colorTitle;
  text-decoration: none;
}

h1 a:focus, h1 a:hover{
  color: $colorBackTitle;
  background-color: $colorTitle;
}

h1 a:active {
    color: $colorTitle;
}

.s_title {
  font-family: 'Roboto Mono', monospace;
  font-size: 35px;
  text-align: center;
}

main {
  margin: 50px;
  font-family: $m_menu;
  background-color: #f9f9f9;
}

h2 {
  font-size: 30px;
  text-align: center;
  font-family: $m_menu;
  padding: 50px 20px 0;
  margin: 30px 0
}

h4 {
  font-size:$font-sizeDetail;
  font-weight: normal;
  text-align: center;
}

.details_m {
  display:grid;
  grid-template-columns: 1fr 100px;
  margin: 0 100px;
  font-size: $font-sizeDetail;
  font-weight: lighter;
  justify-content: space-between;
}

.tarif .plat {
  text-align: center;
}

.title_end {
  padding-bottom: 50px;
}

.dessert {
  margin: 100px;
  font-size: $font-sizeDetail;
}

footer {
  display: flex;
  flex-direction: row;
  width: 100%;
  text-align: center;
  border-radius: 50%;
  position: fixed;
  bottom: 0;
}

h3 {
  width: 100%;
  padding: 10px;
  margin-bottom: 0;
  color: $colorTitle;
  background-color: $colorBackTitle;
  font-family: $fontFamillyTitle;
  justify-content: space-around;
}

footer a {
  text-decoration: none;
}

footer a:link, footer a:visited{
  color:$colorTitle;
  text-decoration: none;
}

footer a:focus, footer a:hover{
  color: $colorBackTitle;
  background-color: $colorTitle;
}

footer a:active {
    color: $colorTitle;
}
